@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --background-color:linear-gradient(90deg, rgba(80,0,4,1) 16%, rgba(221,0,0,1) 100%);
    --background-color-body:linear-gradient(90deg, rgba(154,5,38,1) 0%, rgba(219,87,115,1) 46%, rgba(45,42,42,1) 100%);
    --fontColorMenu: #1c1b1b;    
    --fontColorMenuHover:#bcbbbb; 
}
body{
    margin:0;
    padding:0;
    background: var(--background-color) fixed;
    
}




.principal{
    padding-top: 100px;
    height: fit-content;
    display: flex;
    justify-content: center;
    
}
.menu{
    user-select: none;
    width:100%;
    height: 100%;
    background: var(--background-color); 
    display: flex;
    flex-direction: row;
    box-shadow: 10px 5px 5px var(--fontColorMenu);
    position: relative;
    
}
.menu_logo{
    display: none;
}
.header_menu{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.nav_menu{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    
    
}

.ul_menu{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: end;
    margin-right: 2%;
    
}
.logo{
    height: 80%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    cursor: pointer;
   
}
.logo:hover{
    opacity: 0.8;

}
.logo img{
    height: 100%;

}
.menu_title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    
}
.div_name{
    margin-top: 27px;
}
.div_name h1{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--fontColorMenuHover);
    margin-top: -15px;
}
.menu_title .lugar_title_menu{
    margin-top: -15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    color: var(--fontColorMenuHover);
}
.ul_menu li{
    list-style: none;
    margin-right: 30px;
    
}
.ul_menu a{
    text-decoration: none;
    font-size: 1.9em;
    color: var(--white);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.ul_menu a:hover{
    color: var(--fontColorMenuHover);
}
.carrusel{
    width: 100%;
    user-select: none;
}
.carrusel img{
    object-fit: cover;
    top:0;
    left:0;
    max-height:85vh;
}
.info{
    user-select: none;
    height:200px;
    background: var(--white);

}
.info h1{
    font-size: 1.9em;
    color: orange;
    font:bold;
    text-align: center;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.info p{
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
    border: 1px solid black;
}
.info h2{
    text-align: center;
    font-size: 1.3em;
    font: bold;

}
.socialMedia{
    user-select: none;
    height: 160px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logosSocialMedia{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.logosSocialMedia input{
    height: 25px;
    width: 25px;
    margin-left: 20px;
}
.socialMediaUno{
    width:max-content;
    margin-top: 5px;
   
}
.socialMediaUno a{
    margin-left: 10px;
    text-decoration: none;
    color: var(--fontColorMenuHover);
}
.socialMediaUno a:hover{
    color:black;
}
.rights{
    margin-top: 10px;
}
.rights h1{
    font-family: 'Yanone Kaffeesatz', sans-serif ;
    text-align: center;
    color: #bcbbbb;
    font-size: 1.6em;
}


@media screen  and (max-width: 1300px){
    .nav_menu a{
        font-size: 1.6em;
    }
    .carrusel {
        width: 100%;
    }
    .carrusel img{
        object-fit: cover;
        top:0;
        left:0;
        min-height:85vh;
    }
   
    
    .info p{
        margin-left: 5%;
        margin-right: 5%;
    }

}


@media screen  and (max-width: 1150px){
    .nav_menu{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: end;
        
    }
    .nav_menu a{
        font-size: 1.6em;
    }
    .info p{
        font-size: 0.9em ;

    }

}
.classCloseMenu{
    display: none;
}
.classOpenMenu{
    display:block;
    padding-top: 100px;
    padding-right: 25%;
    position: absolute;
    width:min-content;
    background-color: var(--fontColorMenu);
    right: 0px;
    top: 0px;
    z-index: 60;
}
@media screen  and (max-width: 1000px){
    .header_menu{
        position: fixed;
        z-index: 60;
    }
    .nav_menu {
        display: none;
        padding-top: 100px;
        padding-right: 25%;
        position: absolute;
        width:min-content;
        background-color: var(--fontColorMenu);
        right: 0px;
        top: 0px;
        z-index: 1;
        
    }
    
    .ul_menu{
        flex-direction: column;
        
    }
    .ul_menu a{
        
        font-size: 1.9em;
    }
    
    .menu_logo{
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        right: 0px;
        top:50%;
        bottom: 50%;
        height: 35%;
        margin-right: 20px;
        display: flex;
        z-index: 70;
    } 
    .socialMediaUno a{
        display: none;
    }
    .logosSocialMedia{
        flex-direction: row;
    }
   
}
@media screen and (max-width: 800px){
    .info h2{
        font-size: 1.1em;
        margin-top: -12px;
   } 
   .info{
    height: 230px;        
    }
    .menu_logo{
        height: 20%;
    }
}
@media screen and (max-width: 600px){
    .carrusel{
        width: 100%;
    }

  
    .div_name{
        margin-top: 20px;
        margin-left: 5px;
    }
    .div_name h1{
        font-size: 1.2em;
    }
   .info{
        height: 240px;        
    }
    .info h1{
        font-size: 1.4em;
    }
    .info p{
        margin-left: 3%;
        margin-right: 3%;
        font-size:0.9em;
    }
   .info h2{
        font-size: 1.1em;
   }
}
@media screen and (max-width: 450px){
    .info{
        height: 260px;        
    }
}
@media screen and (max-width: 400px){
    .info{
        height: 280px;        
    }
}